<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type='text/css' href="/static/login.css">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h3>Sign In</h3>
        <input type="text" name="username" maxlength="150"autocomplete="username" placeholder="username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="submit" value="SIGN IN">
    </form>
</body>
</html>